*.ipynb
*.json
potential_0/
simulation/

2walls_bigbr_jton_sample_br.png
2walls_bigbr_sample_br.png
3d_vis_try_pot.ipynb
3d_vis_try.ipynb
3d_vis.py
bs_rs_try_0418_1.1.json
bs_rs_try_0418.json
griddata_example.png
human_network.ipynb
human_network.png
id893.json
id909.json
networkx-dfrome.html
networkx-pyvis.html
pot_network_2walls_sample_br.png
pot_network_2walls_sample.png
pot_network_3walls_sample.png
pot_network_geta_sample_br.png
pot_network_geta_sample.png
pot_network_sample_br.png
pot_network_walls_sample_br.png
pot_network_walls_sample.png
read_dfrome_try.ipynb
sample_2walls_bigbr.py
sample_2walls_jton.py
sample_2walls.py
sample_3walls.py
sample_br.json
sample_geta.py
sample_mount.py
sample_walls_bigbr.py
sample_zero.py
sample.json
sample.py
try.png
walls_bigbr_sample_br.png