*.ipynb
*.json
potential_0/
simulation/
text_analysis/
reason/
modelfy/
lowest/

runs/

embedding/5_domestic_1979.png
embedding/5_domestic_pot_1979.png
embedding/5_domestic_pot_all.png
embedding/5_embedding.ipynb
embedding/5_pca_jp.png
embedding/5_pca.png
embedding/all_4dot_corrected_1%.py
embedding/all_4dot_corrected_exp.py
embedding/all_4dot_corrected.py
embedding/all_4dot_jp_updated copy.py
embedding/all_4dot_jp_updated.py
embedding/all_4dot_jp.py
embedding/all_4dot.py
embedding/all_4dots_corrected_1per_2.png
embedding/all_4dots_corrected_2.png
embedding/all_4dots_corrected_3.png
embedding/all_4dots_corrected_4.png
embedding/all_4dots_corrected.png
embedding/all_4dots_jp_from_top.png
embedding/all_4dots_jp_updated.mp4
embedding/all_4dots_jp_updated.png
embedding/all_4dots_jp.mp4
embedding/all_4dots_jp.pdf
embedding/all_4dots_jp.png
embedding/all_4dots.mp4
embedding/all_4dots.png
embedding/all_individual_corrected.py
embedding/all_individual_updated.py
embedding/all_individual.py
embedding/all.mp4
embedding/animation_updated.py
embedding/contour_corrected_angled.mp4
embedding/contri_rate.png
embedding/domestic_.xlsx
embedding/domestic_1979.png
embedding/domestic_pot_1979_corrected.png
embedding/domestic_pot_1979.png
embedding/domestic_pot_all_updated.png
embedding/domestic_pot_all.png
embedding/domestic_pot_none.png
embedding/domestic_pot.png
embedding/domestic_updated.xlsx
embedding/domestic.xlsx
embedding/doubt.py
embedding/doubt1.py
embedding/embedded.txt
embedding/embedding_updated.ipynb
embedding/embedding.ipynb
embedding/griddata.py
embedding/id893.txt
embedding/id909.txt
embedding/log.ipynb
embedding/pca_jp_withO.png
embedding/pca_jp.png
embedding/pca0.png
embedding/testing.py

###
2walls_bigbr_jton_sample_br.png
2walls_bigbr_sample_br.png
3d_vis_try_pot.ipynb
3d_vis_try.ipynb
3d_vis.py
bs_rs_try_0418_1.1.json
bs_rs_try_0418.json
griddata_example.png
human_network.ipynb
human_network.png
id893.json
id909.json
networkx-dfrome.html
networkx-pyvis.html
pot_network_2walls_sample_br.png
pot_network_2walls_sample.png
pot_network_3walls_sample.png
pot_network_geta_sample_br.png
pot_network_geta_sample.png
pot_network_sample_br.png
pot_network_walls_sample_br.png
pot_network_walls_sample.png
read_dfrome_try.ipynb
sample_2walls_bigbr.py
sample_2walls_jton.py
sample_2walls.py
sample_3walls.py
sample_br.json
sample_geta.py
sample_mount.py
sample_walls_bigbr.py
sample_zero.py
sample.json
sample.py
try.png
walls_bigbr_sample_br.png